<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>Sammy's Gems</title>
  </head>

  <body ng-controller="StoreController as store">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <p class="navbar-text">Welcome to my store!</p>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <button type="button" class="btn btn-default navbar-btn"><a href="#">Earth</a></button>
          <button type="button" class="btn btn-default navbar-btn"><a href="#">Saturn</a></button>
          <button type="button" class="btn btn-default navbar-btn"><a href="#">Jupiter</a></button>
        </ul>
      </div>
    </nav>
    <header>
      <h1 class="text-center"><br>Sam Villaluz's Crafts what the heck!</h1>
      <h2 class="text-center">—*~ an Angular.js store ~*—</h2>
    </header>
    <div class="list-group">
      <div class="list-group-item" ng-repeat="product in store.products">
        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency}}</em>
          <br><br>
          <img ng-src="{{product.images[0].full}}"/>
        </h3>
        <section ng-controller="PanelController as panel">
          <ul class="nav nav-tabs nav-justified">
            <li ng-class="{ active: panel.isSelected(1) }">
              <a href ng-click="panel.selectTab(1)">Description</a>
            </li>
            <li ng-class="{ active: panel.isSelected(2) }">
              <a href ng-click="panel.selectTab(2)">Specifications</a>
            </li>
            <li ng-class="{ active: panel.isSelected(3) }">
              <a href ng-click="panel.selectTab(3)">Reviews</a>
            </li>
          </ul>

          <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <blockquote>{{product.description}}</blockquote>
          </div>
          <div class="panel" ng-show="panel.isSelected(2)">
            <h4>Specifications</h4>
            <blockquote>Nada</blockquote>
          </div>
          <div class="panel" ng-show="panel.isSelected(3)">
            <h4>Reviews</h4>
            <blockquote ng-repeat="review in product.reviews">
              <b>Stars: {{review.stars}}</b>
              <br>{{review.body}}
              <cite>— {{review.author}} <br> {{review.createdOn | date}}</cite>
            </blockquote>

            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              <blockquote>
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                <br>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}} {{reviewCtrl.review.createdOn | date}}</cite>
              </blockquote>

              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
              </fieldset>

              <!--<div> reviewForm is {{reviewForm.$valid}} </div>-->

              <fieldset class="form-group">
                <input type="submit" class="btn btn-info btn-block" value="Submit Review" />
              </fieldset>
            </form>

          </div>
        </section>
      </div>
    </div>
  </body>
</html>

<!--Directives: HTML annotations that trigger js behaviours
Modules: where our app components live
Controllers: where we add app behaviour
Expressions: how values get displayed within pg

Formatting with filters: {{data } | filter:options}}
date, uppercase, limitTo, orderBy: '-price'
Images: ng-show="(product.images).length", ng-repeat for multiple images in an array
Dynamic: ng-click updates expression defined in {{tab}}
Add new controllers to clean up code (isSelected,seletTab)

ng-model: binds form element value to the property
types of ng-model: checkbox, radio buttons, option
validation: novalidate, required
$valid built in feature, can add to submit function, can validate url/email/numbers
-->
